listen: ":{{ .Port }}"

jetstream: enabled

jetstream {
    store_dir: "{{ .JetstreamStore }}"
    max_mem: 1G
    max_file: 5G
}

tls {
  cert_file:  "{{ .NATSCertPath }}"
  key_file:   "{{ .NATSKeyPath }}"
  ca_file:   "{{ .NATSCAPath }}"
  verify_and_map: true
  ocsp_peer: true
}

authorization: {  
  users = [
    {user: "CN=OpenUEM Cert-Manager Worker,OU=worker,O={{ .Org }},POSTALCODE={{ .PostalCode }},STREET={{ .Street }},L={{ .Locality }},ST={{ .Province }},C={{ .Country }},", permissions: {
      sub: {
        allow: ["_INBOX.>", "certificates.>", "ping.certmanagerworker openuem-cert-manager"]
      }
    }},
    {user: "CN=OpenUEM Notification Worker,OU=worker,O={{ .Org }},POSTALCODE={{ .PostalCode }},STREET={{ .Street }},L={{ .Locality }},ST={{ .Province }},C={{ .Country }},", permissions: {
      sub: {
        allow: ["_INBOX.>", "notification.>", "ping.notificationworker openuem-notification", "$JS.API.STREAM.CREATE.>", "$JS.API.CONSUMER.CREATE.>", "$JS.API.CONSUMER.MSG.NEXT.>", "$JS.ACK.>", "$JS.NACK.>"]
      }
    }},
    {user: "CN=OpenUEM Console,O={{ .Org }},POSTALCODE={{ .PostalCode }},STREET={{ .Street }},L={{ .Locality }},ST={{ .Province }},C={{ .Country }},", permissions: {
      publish: ["agent.>", "agentupdate.>", "agentrollback.>", "notification.>", "certificates.>", "ping.>"]
    }},
    {user: "CN=OpenUEM Agent Worker,OU=worker,O={{ .Org }},POSTALCODE={{ .PostalCode }},STREET={{ .Street }},L={{ .Locality }},ST={{ .Province }},C={{ .Country }},", permissions: { 
      sub: {
        allow: ["report openuem-agents", "deployresult openuem-agents", "ping.agentworker openuem-agents", "agentconfig openuem-agents"]
      }
    }},
    {user: "CN=OpenUEM Agent,O={{ .Org }},POSTALCODE={{ .PostalCode }},STREET={{ .Street }},L={{ .Locality }},ST={{ .Province }},C={{ .Country }},", permissions: {
      sub: {
        allow: ["_INBOX.>", "agentupdate.>", "agentrollback.>", "agent.newconfig", "agent.installpackage.>", "agent.uninstallpackage.>", "agent.updatepackage.>", "agent.enable.> openuem-agent-management", "agent.disable.> openuem-agent-management", "agent.report.> openuem-agent-management", "agent.startvnc.> openuem-agent-management", "agent.stopvnc.> openuem-agent-management"]
      },
      publish: ["report", "_INBOX.>", "deployresult", "agentconfig", "$JS.API.STREAM.CREATE.>", "$JS.API.CONSUMER.CREATE.>", "$JS.API.CONSUMER.MSG.NEXT.>", "$JS.ACK.>", "$JS.NACK.>"]
    }},
  ]
}
